:root {
    --primary-color: #387bda;
    --border-radius: 5px;
    --secondary-color: #f0f8ff;
    --color: white;
    --color-black: black;
    --color-footer: gray;
    --background-copy: gainsboro;

    --gap: 1em;
    --padding: 3em;

    --width-img: 15em;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.centralize {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentLogin {
    display: flex;
    flex-direction: column;
}

.contentLogin>* {
    padding: 3em;
}

.logobox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: var(--padding);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.logobox img {
    width: 100px;
    height: 100px;
}

.logobox h1 {
    color: var(--primary-color);
    font-size: var(--padding);
}

.loginpage {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    background-color: var(--color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.loginpage label {
    font-size: 1.2em;
    color: var(--primary-color);
}

.loginpage h1 {
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: var(--gap);
}

input {
    border-radius: var(--border-radius);
    box-sizing: border-box;
    width: 100%;
    padding: 1.5em;
    margin-top: var(--gap);
    margin-bottom: 2em;
    font-size: .8em;
    border: none;
    border-bottom: 3px solid var(--primary-color);
}

.btnEnter {
    background-color: var(--primary-color);
    color: var(--color);
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);
}

.row p {
    font-size: .8em;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.wrapperContent {
    width: 85%;
    max-width: 1356px;
    margin: auto;
}

.wrappercontentHeader {
    width: 90%;
}

section {
    margin-bottom: 5em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fixed {
    position: sticky;
    top: 0;
    background-color: var(--color);
    z-index: 999;
}

.logo {
    display: flex;
    gap: .5em;
    align-items: flex-end;
}

.logo h1,
.logo-footer h2 {
    color: var(--primary-color);
    margin: 0;
}

.logo img,
.logo-footer img {
    width: 50px;
    height: 50px;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.menu-icon {
    cursor: pointer;
    position: relative;
    height: 24px;
}

ul {
    list-style-type: none;
}

.menu ul {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    max-height: 0;
    right: 0;
    left: 80px;
    top: 30px;
    overflow: hidden;
    text-align: right;
    position: absolute;
    transition: all .2s ease-in-out;
    padding: 0;
}

a {
    text-decoration: none;
}

.menu a {
    color: var(--color);
    display: block;
    padding: .5em;
    transition: background-color .3s linear;
}

.menu i {
    padding-right: .3em;
}

.menu a:hover {
    background-color: color-mix(in srgb, var(--color-black) 10%, transparent);
}

.menu li:not(:last-child) {
    margin-bottom: .5em;
}

.menu-btn:checked~.header-menu {
    max-height: 100vh;
}

.nav-icon {
    background-color: var(--color-black);
    display: inline-block;
    position: relative;
    height: 3px;
    width: 24px;
}

.nav-icon::after,
.nav-icon::before {
    content: "";
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    transition: transform .3s;
}

.nav-icon::after {
    background-color: var(--color-black);
    transform: translateY(8px);

}

.nav-icon::before {
    background-color: var(--color-black);
    transform: translateY(-8px);
}

.menu-btn:checked+.menu-icon .nav-icon {
    background-color: transparent;
}

.menu-btn:checked+.menu-icon .nav-icon::after {
    transform: rotate(-45deg);
}

.menu-btn:checked+.menu-icon .nav-icon::before {
    transform: rotate(45deg);
}

.menu-btn:focus-visible+.menu-icon {
    outline: 2px solid var(--color-black);
    outline-offset: 2px;
}

.about h1 {
    font-size: 2em;
    margin-top: 1.5em;
    margin-bottom: 0;
}

.about p {
    font-size: 1.2em;
}

.btnFuction {
    display: flex;
    gap: var(--gap);
}

.btnFuction p {
    font-size: .8em;
    margin: 0;
}

.btnFuction h3 {
    font-size: 1em;
    margin: 0;
}

.btn {
    display: inline-block;
    border-radius: var(--border-radius);
    padding: .5em 1.5em;
    border: 2px solid var(--primary-color);
    transition: background-color .3s ease-in-out;
}

.btn:hover {
    background-color: color-mix(in srgb, var(--primary-color) 85%, transparent);
}

.btnAdota:hover {
    background-color: color-mix(in srgb, var(--primary-color) 15%, transparent);
}

.btnDivul {
    background-color: var(--primary-color);
    color: var(--color);
}

.btnAdota {
    color: var(--primary-color);
}

.history {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    container: historyContainer / inline-size;
}

.cardHistory {
    border-radius: var(--border-radius);
    box-shadow: 1px 6px 10px 1px rgb(218, 218, 218);
}

.headerHistory {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background-color: color-mix(in srgb, var(--primary-color) 15%, transparent);
    padding: var(--gap);
    box-sizing: border-box;
}

.headerHistory h3 {
    font-weight: 500;
}

.historyContent {
    flex: 1;
    text-align: left;
    padding: var(--gap);
}

.coment {
    max-height: 100px;
    overflow-y: scroll;
}

.img-wrapper {
    width: var(--width-img);
    height: var(--width-img);
    overflow: hidden;
    border-radius: 100%;
    background-color: #eaf1ff;

}

@container (width > 28.0343em) {
    .cardHistory {
        display: flex;
    }
}

.adocao {
    background-color: rgb(239, 239, 239);
    box-shadow: 1px 6px 10px 1px rgb(218, 218, 218);
    border-radius: var(--border-radius);
    padding: 2em;
    box-sizing: border-box;
}

.adocao h2 {
    padding-bottom: 1.3em;
    font-weight: 500;
    color: var(--primary-color);
}

.wrapperCards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5em;
}

.wrapperCards>.sm-12 {
    grid-column: 1 / -1;
}

.pets {
    border-radius: var(--border-radius);
    background-color: var(--color);
    box-shadow: 1px 6px 10px 1px rgb(146, 146, 146);
}

img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;

}

.imagen {
    overflow: hidden;
    aspect-ratio: 16/9;
}

.pets h3 {
    background-color: var(--primary-color);
    color: var(--color);
    padding: .5em;
    font-weight: 300;
    text-align: center;
}

.contentPets {
    padding: .5em;
}

.pets .info {
    display: flex;
    justify-content: space-between;

}

.centralizeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnverMais {
    margin-top: var(--gap);
}

.cardsTips {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);

}

.cardsTips>.sm-12 {
    grid-column: 1 / -1;
}

.tips {
    color: var(--color);
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: var(--gap);
    text-align: center;
}

.tips p {
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    background-color: var(--color);
    border-radius: 60%;
    margin: .3em;
}

.icons {
    font-size: 2.5em;
    color: var(--primary-color);
    padding: .25em;
}

.faqsection {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    background-color: color-mix(in srgb, var(--primary-color) 15%, transparent);
}

.faqsection>*,
.history>* {
    flex: 1 0 0;
}

.faq {
    padding: 1.5em;
}

.faq details {
    font-style: oblique;
    margin: var(--gap) 0;
}

.faq h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--primary-color);
}

.summary {
    color: var(--primary-color);
}

.house {
    display: none;
}

.house img {
    width: 50%;
}

.alert {
    display: flex;
    align-items: center;
    gap: 1.5em;
    background-color: rgb(212, 212, 212);
    border: 2px solid var(--color-black);
    border-radius: var(--border-radius);
    padding: var(--gap);
}

.alert i {
    font-size: 1.5em;
}

.alert strong {
    text-transform: uppercase;
}

footer {
    margin-top: 5em;
    background-color: rgb(239, 239, 239);
}

.nav-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: var(--gap);
}

.nav-footer a {
    color: var(--color-black);
    display: block;
    padding-bottom: .3em;
}

.nav-footer li {
    border: 1px solid transparent;
}

.nav-footer li:hover {
    border-bottom: 1px solid var(--color-black);
}

.copy {
    margin-top: 3em;
    padding: .5em;
    background-color: var(--background-copy);
    text-align: center;
}

.copy p {
    color: var(--color-footer);
    margin: 0;
    font-size: .8em;
}

.logo-footer {
    padding-top: .5em;
    text-align: center;
}

@media (width > 46.25em) {

    .menu-icon,
    .menu-btn {
        display: none;
    }

    .menu ul {
        display: flex;
        position: static;
        max-height: initial;
        background-color: initial;
        border-radius: 0;
    }

    .menu a {
        color: var(--primary-color);
        margin-left: 1em;
        padding: .5em;
    }

    .menu li:nth-child(3)>a {
        background-color: var(--primary-color);
        color: var(--color);
    }

    .menu li:nth-child(3)>a:hover {
        background-color: color-mix(in srgb, var(--primary-color) 85%, transparent);
    }

    .menu li:nth-child(4)>a {
        border: 1px solid var(--primary-color);
    }

    .wrapperCards>.md-1-5 {
        grid-column: span 6;
    }

    .house {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-footer,
    .contentLogin {
        flex-direction: row;
    }

    .logobox {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    .loginpage {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
}

@media (width > 90em) {
    .history {
        flex-direction: row;
    }

    .cardHistory {
        flex-direction: column;
    }

    .wrapperCards>.lg-3 {
        grid-column: span 3;
    }

    .cardsTips>.lg-4 {
        grid-column: span 4;
    }
}